include index.html
include LICENSE
include README.rst
include libs.txt

recursive-include doc *
recursive-include fixtures *
recursive-include font *
recursive-include img *
recursive-include js *
recursive-include less *
recursive-include tmpl *
